# Generic
.DS_Store
._.DS_Store
*.log
*.out
out/
*.swp
*.zip
*.html
_static
_site
_html
.~*

## ES Slides stuff
*-gen.md
assembly.out*
# generated pptx
*-gen.pptx
# generated pdf
*-gen.pdf

# any office formats
*.pptx
*.docx
*.pdf
1
1.md
1.png

# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints

# node
node_modules/
package-lock.json

# Intellij
**/.idea

*.bak
