# Generic
.DS_Store
._.DS_Store
*.log
*.out
out/
*.swp

## ES Slides stuff
*-gen.md
assembly.out*
# generated pptx
*-gen.pptx

# any pptx
*.pptx
*.pdf
1
1.md
1.png

# Python
__pycache__/
*.py[cod]
*$py.class

# node
node_modules/
package-lock.json

# Intellij
**/.idea
